{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi there! My name is Muhammad A. Farooq, but you can call me Affan. I’m a passionate software engineer and a Computer Science undergraduate at Queen’s University, specializing in Software Design. I thrive on solving challenging problems, from optimizing algorithms to building full-stack applications with technologies like the MERN stack and Flutter. My academic and professional experiences have shaped me into a well-rounded developer who values scalability, efficiency, and innovation.</p>
        <p>Beyond my technical pursuits, I have a deep appreciation for philosophy and enjoy delving into books that explore the complexities of human thought and existence. Reading fuels my curiosity and provides fresh perspectives that I often apply to my problem-solving approach. Running is another passion of mine; it’s not just exercise but a mental reset, offering clarity and a sense of accomplishment.</p>
        <p>When I’m not immersed in code or a good book, you’ll find me brainstorming new ideas, collaborating on projects, or seeking out challenges that push me to grow. I believe in the importance of balance: pairing technical rigor with personal growth and creativity. If you’d like to connect or discuss ideas, I’d be thrilled to hear from you!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
